#products a {
  display: block;
  width: 222px;
  height: 80px;
  float: left;
  margin: 6px;

  span {
    margin: 10px;
  }
}

#types, #types ul {
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  text-align: justify;
}
#types:after, #types ul:after {
  content: '';
  width: 100%;
  display: inline-block;
}
#types li {
  display: inline-block;
  margin: 0;
  padding: 0 0 3em 0;
}
#types a {
  padding: 2em;
  margin: 0;
}
#types {
  height: 5.6em;
  padding: 1.2em 0;
}
#types ul {
  display: none;
  position: absolute;
  left: 0;
  margin: 2.8em 0 0;
  padding: 0.8em 0 0;
}
#types li:hover > ul, #types ul:hover {
  display: inline-block;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
